html {
  height: 100%;
  width: 100%;
}

body,
h1 {
  font-weight: bold;
  font-size: 2rem;
  font-family: Arial;
  display: block;
  justify-content: center;
  align-items: center;
}

.img-container {
  margin-top: 5%;
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#imgRock,
#imgPaper,
#imgScissors {
  background-color: hsl(210, 80%, 70%);
  width: 20%;
  height: 20%;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 1.5%;
  transition: background-color 0.5s ease;
}

#imgRock:active,
#imgPaper:active,
#imgScissors:active {
  background-color: hsl(210, 80%, 90%);
}

#p0 {
  color: hsl(120, 100%, 65%);
}

#c0 {
  color: hsl(20, 100%, 65%)
}

h1,
h3 {
  text-align: center;
}

#message {
  font-size: 3.5rem;
  text-align: center;
}

.popUpWinColor {
  background-color: #4cff4c;
}

.popUpLoseColor {
  background-color: #ff884c;
}

.popUpTieColor {
  background-color: hsl(0, 0%, 30%);
}